<body>
<% if @error_text %>
    <div class="error"><h1><%= @error_text %></h1><%= link_to 'Back', input_url%></div>
<% else %>
    <div class="tabletka">
    <h1>Table of steps</h1>
    <table border="3" width="50%" borderColor="black" align="center" style="font-size:30px; line-height  :40px">
        <% @for_output.each do |x| %>
                <tr style=<%= x[2] %>>
                    <% if x[2] == "color:pink" %>
                        <td width="300px"><%= x[0] %></td>
                        <td width="300px"><%= x[1] %></td>
                    <% else %>
                        <th width="300px"><%= x[0] %></td>
                        <th width="300px"><%= x[1] %></td>
                    <% end %>
                </tr>
        <% end %>
    </table><%= link_to 'Back', input_url%></div>
<% end %>
</body>